.contact-info-page {
  width: auto;
  height: auto;
  margin-left: 240px;
}
h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: -0.26px;
  color: #243573;
}
.contact-field {
  width: 960px;
  height: auto;
  background-color: #fff;
  padding: 32px 32px 0px 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  display: grid;
  grid-template-columns: 300px 44px 300px;
  gap: 0px;
  box-sizing: border-box;
}

.contact-info-page button {
  width: 150px;
  height: 36px;
  background-color: #00ae1c;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
button:hover {
  border: 1px solid #5ce171;
  box-shadow: 0px 2px 2px 0px #5ce17140;
}
.firstName-field {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
}
.lastName-field {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1;
}
.email-field {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
}
.phone-field {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 2;
}
.contact-field label {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.20000000298023224px;
  color: #243573;
}
.input-styles {
  position: relative;
  margin-bottom: 32px;
}
.input-styles input {
  border: none;
  border-bottom: 1px solid #737373;
  outline: none;
  padding: 9px 0px;
  max-width: 300px;
  box-sizing: border-box;
}
input::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.30000001192092896px;
  color: #243573;
}
.error {
  color: #ff5620;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.2px;
  position: absolute;
  bottom: -16px;
}
.contact-info-page button:disabled {
  background: #187727;
  box-shadow: 0px 1px 2px 0px #1018280d;
}